services:
  db:
    image: postgres:15-alpine
    env_file: .env # ここで POSTGRES_USER 等を読み込む
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  db_test:
    image: postgres:15-alpine
    environment:
      # .env の値を割り当てる
      - POSTGRES_USER=${TEST_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TEST_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TEST_POSTGRES_DB}
    ports:
      - "5433:5432"

  app:
    build:
      context: ./backend
    environment:
      # 接続文字列も変数で組み立てる
      - DB_SOURCE=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable
      - TEST_DB_SOURCE=postgresql://${TEST_POSTGRES_USER}:${TEST_POSTGRES_PASSWORD}@db_test:5432/${TEST_POSTGRES_DB}?sslmode=disable
    env_file: .env
    depends_on:
      - db
      - db_test
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules # node_modulesはホスト側と同期させない（高速化・エラー防止）
    environment:
      - VITE_API_URL=http://localhost:8080

volumes:
  db-data: